# python virtualenv folders
bin/
include/
lib/
lib64
local/
share/
man/
*.pyc
# don't commit any real csvs
*.csv
# don't commit log files
*.log*
#don't commit the real jdbc.properties file
jdbc.properties
