Subject: Metadata records due an update - {{settings["system/site/organization"]}}, {{settings["system/site/name"]}}.

Dear {{user.contact}}

The following metadata records are due for review, please login and check them, and mark as updated:

{{user.title}} {{user.link}}

Regards,

Metadata Team.

