Subject: Metadata record due an update - {{settings["system/site/organization"]}}, {{settings["system/site/name"]}}.

Dear {{user.contact}},

The following metadata record is due for review, please login and check it, and mark as updated:

UUID: {{user.uuid}}
Title: {{user.title}}
Direct URL: {{user.link}}

Regards,
Metadata Team.